<article>
<div class="mainFooter">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{{browsePapers}}">Papers</a></li>
        <li><a href="{{browseTags}}">Tags</a></li>
        {{#if loggedIn}}
        <li><a href="{{userPage}}">User Page</a></li>
        {{else}}
        <li><a href="{{login}}">Login</a></li>
        {{/if}}
    </ul>
        <article>
            <p>Pulp is a collaboration platform that enables academics to be more effective in their literary research by
                enabling more effective searching and collaborative annotations.</p>
            <p>Open source at "https://github.com/Csaluski/cs-386-project" </p>
            <p>Copyright © 2021 PULP</p>
        </article>
</div>
</article>

