<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pulp: View Paper</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <meta name="author" content="Hannah Larreau">
    <meta name="description" content="The page where users can view the PDF of an uploaded paper.">
</head>

<body>

<header id="mainHeader">
    <h1>Pulp: View {{title}} </h1>
</header>

{{> navigation}}

<div class="container">
    <article>
        <h2>Abstract:</h2>
        <p>
            {{abstract}}
        </p>
    </article>

    <iframe src="data:application/pdf;base64,{{paperFile}}" title="" width="" height="" allowfullscreen loading="eager">

    </iframe>
    <input type="button" id="fullscreen" name="fullscreen" onclick="requestFullscreen()">

</div>

<div class="sidebar">

    <div class="container">
        <ul>
            <li>Title: {{title}}</li>
            <li>Doi: {{doi}}</li>
            <li>Authors: {{authors}}</li>
            <li>Owners: {{owners}}</li>
            <li>Tags: {{tags}}</li>
        </ul>
    </div>

    <div class="container">

        <p><a href="editPDF">Edit This paper</a>
        <input type="button" id="redirect" name="editPaper"></p>

        <p><a href="/">Back to Home</a>
        <input type="button" id="redirect" name="index"></p>

        <p><a href="profile">Open User Profile</a>
        <input type="button" id="redirect" name="getUser"></p>

        <p><a href="uploadPDF">Upload New Paper</a>
        <input type="button" id="redirect" name="createPaper"></p>

    </div>

</div>

{{> footer}}

</body>

</html>
