<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pulp: View Paper</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <meta name="author" content="Hannah Larreau">
    <meta name="description" content="The page where users can view the PDF of an uploaded paper.">
</head>

<body>

<header id="mainHeader">
    <h1>Pulp: View {{title}} </h1>
</header>

{{> ../snipits/navigation}}

<main>
    <div class="sidebar">
        <div class="container">
            <ul>
                <li>Title: {{title}}</li>
                <li>Doi: {{doi}}</li>
                <li>Authors: {{authors}}</li>
                <li>Owners: {{owners}}</li>
                <li>Tags: {{tags}}</li>
            </ul>

            <p><input type="button" value="Edit This Paper" onclick="location.href='/editPDF'"></p>
            <p><input type="button" value="Create New Tag" onclick="location.href='/createTag'"></p>

        </div>

    </div>

    <article>
        <h2>{{title}}</h2>
        <h3>Abstract:</h3>
        <p>{{abstract}}</p>
    </article>

    <iframe src="data:application/pdf;base64,{{paperFile}}" name="paperView" allowfullscreen="allowfullscreen"
            loading="eager"></iframe>
    <input type="button" id="fullscreen" name="paperView" value="Full Screen" onclick="requestFullscreen()">

</main>

{{> ../snipits/footer}}

</body>
</html>
