<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Hello Page</title>
</head>

<body>

<header id="mainHeader">
    <h1>Pulp: Profile </h1>
</header>

{{> navigation}}

<form method="get">
    <p>Hello {{name}}!</p>
    <p> at {{email}}!</p>
    <p>about you {{bio}}</p>
</form>

<form method="post">
    <!--input type="text" id = "bio" name="bio"><br><br>
    <input type="submit" value="Edit"-->
    <p><a href="{{edit}}">Edit Your Profile!</a></p>
    <p><a href="/">Back to Home</a></p>
    <p><a href="{{uploadPDF}}">Upload a Paper</a></p>
    <p><a href="{{view/paper/:paperUuid}}">View a Paper</a></p>
    <p><a href="{{editPDF}}">Edit a paper</a></p>
</form>

{{> footer}}

</body>

</html>
